/* 
header menu link responsive
*/

@media only screen and (max-width: 1141px) {
    
    .header-link { display: none; }

    #menu { display: block; }

    #manu:hover { cursor: pointer; }
}

/* 
tablet responsive
*/

@media only screen and (max-width: 768px) {

    .header-container {
        width: 100%;
        padding: 0 20px;
    }

    .container-elements {
        width: 100%;
        padding: 0 20px;
    }
    
    .demo-application {
        flex-direction: column;
    }

    .container-elements2 {
        width: 100%;
        padding: 0 20px;
        flex-direction: column;
    }

    .dev-general-container {
        flex-direction: column;
        align-items: center;
    }

    .strategic-planning img {
        width: 100%;
    }
   
}

/* 
mobile responsive
*/

@media only screen and (max-width: 480px) {

    .header-container {
        width: 100%;
        padding: 0 20px;
    }

    .container-top {
        flex-direction: column;
    }
    
    .demo-application {
        width: 100%;
        padding: 0 20px;
        align-items: center;
    }

    .clean-code {
        width: 100%;
        padding: 0 20px;
    }

    .container-bottom {
        flex-direction: column;
    }
   
    .web-design {
        width: 100%;
        padding: 0 20px;
    }

    .developement {
        width: 100%;
        padding: 0 20px;
    }

    .branding {
        width: 100%;
        padding: 0 20px;
    }   

}