/* 
common UI elements
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { font-family: sans-serif; }

.d-flex { display: flex; }

.p-20 { padding: 20px; }
.pr-5 { padding-right: 5px; }

.colorg { color: gray; }
.colorb { color: #0084fd; }
.colorw { color: white; }

.fs-oblique { font-style: oblique; }

.iconwhite { filter: invert(1); }

.fw-600 { font-weight: 600; }

/* 
header elements
*/

header { background-color: #0084fd; }

.header-container {
    width: 60%;
    margin: auto;
    height: 85px;
    align-items: center;
    justify-content: space-between;
}

.header-container img { height: 50%; }

.header-container img:hover { cursor: pointer; }

.header-link {
    align-items: center;
}

.header-link a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-weight: 600;
}

.header-link a:hover { text-decoration: underline; }

.header-link button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 35px;
}

.header-link button:hover {
    cursor: pointer;
    background-color: rgb(212, 213, 214);
}

#menu {
    filter: invert(1);
    display: none;
}

/* 
main elements
*/

.main-block-white { background-color: white; }

.container-elements {
    width: 60%;
    margin: auto;
    height: 840px;
}

.demo-application {
    background-color: #b5ddff;
    border-radius: 10px;
    width: 65%;
    margin: 50px 10px 10px 0;
}

.demo-application button {
    background-color: #0084fd;
    color: white;
    border: none;
    border-radius: 25px;
    width: 185px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.demo-application button:hover {
    cursor: pointer;
    background-color: #0069cc;
}

.demo-text {
    width: 50%;
}

.demo-img {
    width: 50%;
}

.demo-img img {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    padding-right: 20%;
}

.clean-code {
    background-color: #b5ddff;
    border-radius: 10px;
    width: 35%;
    margin: 50px 0 10px 10px;
    flex-direction: column;
    align-items: center;
}

.clean-code img {
    width: 33%;
}

.web-design {
    background-color: #b5ddff;
    border-radius: 10px;
    width: 33%;
    margin: 10px 10px 10px 0;
    flex-direction: column;
    align-items: center;
}

.web-design img {
    width: 33%;
}

.developement {
    background-color: #b5ddff;
    border-radius: 10px;
    width: 33%;
    margin: 10px 10px 10px 10px;
    flex-direction: column;
    align-items: center;
}

.developement img {
    width: 33%;
}

.branding {
    background-color: #b5ddff;
    border-radius: 10px;
    width: 33%;
    margin: 10px 0 10px 10px;
    flex-direction: column;
    align-items: center;
}

.branding img {
    width: 33%;
}

.main-block-purple { background-color: #9792e4; }

.container-elements2 {
    width: 60%;
    margin: auto;
    height: 840px;
}

.dev-general-container {
    align-items: flex-end;
}

.strategic-planning {
    width: 50%;
    flex-direction: column;
}

.strategic-planning img {
    width: 80%;
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.strategic-planning p {
    padding-top: 10%;
    padding-bottom: 10%;
}

.container-dev {
    background-color: white;
    border-radius: 30px;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.container-dev img {
    width: 80%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.container-dev p {
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    padding-left: 5%;
}

.arrow-icon {
    border-radius: 50%;
    width: 15%;
    justify-content: center;
    margin-bottom: 5%;
}