/* 
    commons UI elements
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.d-flex { display: flex; }

.bg-purple { background-color: #9792E4; }

#bg-p { padding-bottom: 16px; }

/* 
    header elements
*/

header {
    background-color: #0084FD;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    margin-bottom: 32px;
}

header img {
    height: 50%;
    transition: all .55s ease;
}

header img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#menu-icon {
    color: white;
    font-size: 32px;
}

#menu-icon:hover { cursor: pointer; }

/* 
    main elements demo-apllication
*/

.demo-application {
    max-width: 400px;
    margin: 32px auto;
    background-color: #B5DDFF;
    border-radius: 20px;
}

.demo-application h2 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #0084FD;
}

.demo-application > p {
    color: rgb(77, 77, 77);
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    font-weight: 600;
}

.demo-application button {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: #0084FD;
    align-items: center;
    justify-content: center;
}

.demo-application button:hover {
    background-color: #0168c9;
    cursor: pointer;
}

#apple-icon {
    font-size: 25px;
    padding: 4px;
}

.demo-application button > p {
    font-size: 15px;
    font-weight: 500;
    padding: 4px;
}

.demo-application img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin: 16px 16px 0 16px;
}

/* 
    main elements clean-code
*/

.clean-code {
    max-width: 400px;
    margin: 32px auto;
    background-color: #B5DDFF;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

#code-icon {
    font-size: 100px;
    color: #0084FD;
    padding: 16px;
}

.clean-code h2 {
    padding: 16px;
    color: #0084FD;
}

.clean-code > p {
    color: rgb(77, 77, 77);
    padding: 16px;
    font-weight: 600;
}

/* 
    main elements web-design
*/

.web-design {
    max-width: 400px;
    margin: 32px auto;
    background-color: #B5DDFF;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

#code-icon {
    font-size: 100px;
    color: #0084FD;
    padding: 16px;
}

.web-design h2 {
    padding: 16px;
    color: #0084FD;
}

.web-design > p {
    color: rgb(77, 77, 77);
    padding: 16px;
    font-weight: 600;
}

/* 
    main elements developement
*/

.developement {
    max-width: 400px;
    margin: 32px auto;
    background-color: #B5DDFF;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

#code-icon {
    font-size: 100px;
    color: #0084FD;
    padding: 16px;
}

.developement h2 {
    padding: 16px;
    color: #0084FD;
}

.developement > p {
    color: rgb(77, 77, 77);
    padding: 16px;
    font-weight: 600;
}

/* 
    main elements branding
*/

.branding {
    max-width: 400px;
    margin: 32px auto;
    background-color: #B5DDFF;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

#code-icon {
    font-size: 100px;
    color: #0084FD;
    padding: 16px;
}

.branding h2 {
    padding: 16px;
    color: #0084FD;
}

.branding > p {
    color: rgb(77, 77, 77);
    padding: 16px;
    font-weight: 600;
}

/* 
    main elements planning 0.0
*/

.planning-00 {
    max-width: 400px;
    margin: 32px auto;
}

.planning-00 img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin: 16px 16px 0 16px;
}

.planning-00 h2 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: white
}

.planning-00 > p {
    color: white;
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    font-weight: 300;
}

/* 
    main elements planning 0.1
*/

#section-pl01 { padding: 8px; }

.planning-01 {
    max-width: 400px;
    margin: 32px auto;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.planning-01 img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin: 16px 16px 0 16px;
}

.planning-01 h2 { padding: 16px; }

.planning-01 > p {
    padding: 16px;
    font-style: oblique;
    font-weight: 400;
}

.arrow-icon {
    background-color: #9792E4;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.arrow-icon:hover {
    background-color: #827ec2;
    cursor: pointer;
}

#arrow-down {
    width: 100%;
    margin: 0 auto;
}

/* 
    main elements testimonials-text
*/

.testimonials-text {
    max-width: 400px;
    margin: 32px auto;
    flex-direction: column;
    align-items: center;
}

.testimonials-text span {
    padding: 32px;
    font-weight: 400;
    font-size: 20px;
}

.testimonials-text h2 {
    padding: 16px;
    color: #9792E4;
}

.testimonials-text > p {
    padding: 16px;
    font-weight: 500;
}

/* 
    main elements nat-reynolds
*/

.nat-reynolds {
    max-width: 400px;
    margin: 32px auto;
    background-color: #9792E4;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.nat-reynolds img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin: 16px 16px 0 16px;
    border-radius: 50%;
}

.nat-reynolds > p {
    color: white;
    padding: 16px;
    font-weight: 400;
}

.nat-reynolds h2 {
    padding: 16px;
    color: white
}

/* 
    main elements celia-almeda
*/

.celia-almeda {
    max-width: 400px;
    margin: 32px auto;
    background-color: #9792E4;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.celia-almeda img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin: 16px 16px 0 16px;
    border-radius: 50%;
}

.celia-almeda> p {
    color: white;
    padding: 16px;
    font-weight: 400;
}

.celia-almeda h2 {
    padding: 16px;
    color: white
}

/* 
    main elements bob-roberts
*/

.bob-roberts {
    max-width: 400px;
    margin: 32px auto;
    background-color: #9792E4;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.bob-roberts img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin: 16px 16px 0 16px;
    border-radius: 50%;
}

.bob-roberts > p {
    color: white;
    padding: 16px;
    font-weight: 400;
}

.bob-roberts h2 {
    padding: 16px;
    color: white
}

/* 
    main elements benefit-work
*/

.benefit-work {
    padding: 32px;
    justify-content: center;
    color: white;
}

/* 
    main elements hight-quality
*/

.hight-quality {
    max-width: 400px;
    margin: 32px auto;
    background-color: white;
    border-radius: 20px;
}

.hight-quality h1 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
    font-size: 50px;
}

.hight-quality h2 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
}

.hight-quality > p {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    font-weight: 400;
}

#button-hight-quality {
    width: 90%;
    margin: 0 auto;
}

.hight-quality button {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: #9792E4;
}

.hight-quality button:hover {
    cursor: pointer;
    background-color: #827ec2;
}

/* 
    main elements creative-team
*/

.creative-team {
    max-width: 400px;
    margin: 32px auto;
    background-color: white;
    border-radius: 20px;
}

.creative-team h1 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
    font-size: 50px;
}

.creative-team h2 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
}

.creative-team > p {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    font-weight: 400;
}

#button-hight-quality {
    width: 90%;
    margin: 0 auto;
}

.creative-team button {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: #9792E4;
}

.creative-team button:hover {
    cursor: pointer;
    background-color: #827ec2;
}

/* 
    main elements amazing-results
*/

.amazing-results {
    max-width: 400px;
    margin: 32px auto;
    background-color: white;
    border-radius: 20px;
}

.amazing-results h1 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
    font-size: 50px;
}

.amazing-results h2 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
}

.amazing-results > p {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    font-weight: 400;
}

#button-hight-quality {
    width: 90%;
    margin: 0 auto;
}

.amazing-results button {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: #9792E4;
}

.amazing-results button:hover {
    cursor: pointer;
    background-color: #827ec2;
}

/* 
    main elements best-pricing
*/

.best-pricing {
    max-width: 400px;
    margin: 32px auto;
    background-color: white;
    border-radius: 20px;
}

.best-pricing h1 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
    font-size: 50px;
}

.best-pricing h2 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
}

.best-pricing > p {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    font-weight: 400;
}

#button-hight-quality {
    width: 90%;
    margin: 0 auto;
}

.best-pricing button {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: #9792E4;
}

.best-pricing button:hover {
    cursor: pointer;
    background-color: #827ec2;
}

/* 
    main elements innovations
*/

.innovations {
    max-width: 400px;
    margin: 32px auto;
    background-color: white;
    border-radius: 20px;
}

.innovations h1 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
    font-size: 50px;
}

.innovations h2 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
}

.innovations > p {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    font-weight: 400;
}

#button-hight-quality {
    width: 90%;
    margin: 0 auto;
}

.innovations button {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: #9792E4;
}

.innovations button:hover {
    cursor: pointer;
    background-color: #827ec2;
}

/* 
    main elements support
*/

.support {
    max-width: 400px;
    margin: 32px auto;
    background-color: white;
    border-radius: 20px;
}

.support h1 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
    font-size: 50px;
}

.support h2 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
}

.support > p {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    font-weight: 400;
}

#button-hight-quality {
    width: 90%;
    margin: 0 auto;
}

.support button {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: #9792E4;
}

.support button:hover {
    cursor: pointer;
    background-color: #827ec2;
}

/* 
    main elements about-us-text
*/

.about-us-text {
    max-width: 400px;
    margin: 32px auto;
    background-color: white;
    border-radius: 20px;
}

.about-us-text h1 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
}

.about-us-text p {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    font-weight: 400;
}

/* 
    main elements linkedin
*/

.linkedin {
    max-width: 400px;
    margin: 32px auto;
    border-radius: 20px;
}

.linkedin img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin: 16px 16px 0 16px;
    border-radius: 50%;
}

.linkedin h2 {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    color: #9792E4;
}

.likedin-button {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: #9792E4;
}

.likedin-button:hover {
    cursor: pointer;
    background-color: #827ec2;
}

#likedin-icon {
    font-size: 15px;
    padding: 2px;
    background-color: white;
    color: #9792E4;
    margin-right: 4px;
}

.likedin-button button > p {
    font-size: 15px;
    font-weight: 500;
    padding: 2px;
}